table,
th,
td {
  border: solid black 1px;
  text-align: center;
}
table {
  border-collapse: collapse;
}
caption {
  text-align: center;
  color: green;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 50px;
  height: 50px;
}

body {
  background-color: rgb(238, 229, 135);
}

th {
  font-size: 30px;
  color: rgb(67, 13, 160);
}
