body {
    background-color: bisque;
}

h1 {
    color: rgb(162, 55, 17);
    height: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: brown;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}