table {
  border: solid black 1px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: solid black 1px;
}

caption {
  font-size: 75px;
  color: rgb(21, 137, 200);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

img {
  width: 60px;
  height: 60px;
}
body {
  background-color: lightcyan;
}

.labels {
  background-color: lightskyblue;
}
