h1 {
  border-style: dotted;
  border-color: blue;
  margin: 0 auto;
  width: 150px;
}

#one {
  padding: 50px;
  background-color: rgb(147, 134, 204);
}

#two {
  width: 160px;
  margin: 30px;
  border-style: dotted;
  border-color: blue;
}

#three {
  border-style: dashed;
  text-align: right;
  margin-right: 200px;
  border-color: rgb(186, 17, 17);
}

#four {
    width: 600px;
    border: solid black;
}

img {
    width: 600px;
}
