#one {
  background-color: lightskyblue;
  text-align: right;
  width: 60%;
}
span {
  color: green;
  font-style: italic;
  font-weight: bold;
}
#two {
  width: 25%;
  padding: 30px 30px;
  border: solid black;

}

#three {
  margin-top: 50px;
  margin-right: 50px;
  border: solid blue;
  margin-bottom: 0px;
}

#four {
margin-bottom: 50px;
margin-left: 50px;
border: solid black;

}

img {
    align-items: center;
    width: 100%;
    border: solid black;
}